In [1]:
import pandas as pd
xlfile = "C:\\2020\\데이터사이언스개론\\과제 #2(Python 과제)\db_score.xlsx"
df = pd.read_excel(xlfile)
print(df)

    sno  attendance  homework  discussion  midterm  final  score grade
0     1        7.73     19.37           0    35.00  30.10  92.20     A
1     2        7.73     20.00           0    34.12  30.10  91.95     A
2     3        7.73     19.37           0    34.30  29.75  91.15     A
3     4        8.00     18.12           2    31.50  29.05  88.67     A
4     5        8.00     20.00           2    33.25  21.35  84.60     A
..  ...         ...       ...         ...      ...    ...    ...   ...
87   88        8.00     20.00           0     9.62   2.80  40.42     F
88   89        8.00     19.37           0     6.12   4.55  38.04     F
89   90        7.73     18.75           0     3.50   0.00  29.98     F
90   91        7.20      0.00           0     3.50   1.05  11.75     F
91   92        5.60      5.00           0     0.00   0.00  10.60     F

[92 rows x 8 columns]

In [64]:
import pandas as pd
xlfile = "C:\\2020\\데이터사이언스개론\\과제 #2(Python 과제)\db_score.xlsx"
df = pd.read_excel(xlfile)
df = df.to_string(index=False) 

print( df)

 sno  attendance  homework  discussion  midterm  final  score grade
   1        7.73     19.37           0    35.00  30.10  92.20     A
   2        7.73     20.00           0    34.12  30.10  91.95     A
   3        7.73     19.37           0    34.30  29.75  91.15     A
   4        8.00     18.12           2    31.50  29.05  88.67     A
   5        8.00     20.00           2    33.25  21.35  84.60     A
   6        8.00     19.37           0    24.50  32.20  84.07     A
   7        8.00     19.37           2    23.80  28.70  81.87     A
   8        8.00     16.87           0    28.87  25.90  79.64     A
   9        8.00     19.37           0    29.75  21.70  78.82     A
  10        7.73     20.00           0    31.50  19.25  78.48     A
  11        8.00     19.37           0    29.57  21.35  78.29     A
  12        6.66     19.37           0    31.50  20.65  78.18     A
  13        8.00     19.37           0    29.75  21.00  78.12     A
  14        8.00     20.00           0    31.50  18.55  78.05     A
  15        7.73     18.12           0    28.00  23.10  76.95     A
  16        8.00     19.37           0    24.50  24.85  76.72     A
  17        7.46     20.00           0    30.62  18.55  76.63     A
  18        8.00     19.37           0    30.62  18.55  76.54     A
  19        8.00     19.37           0    24.50  24.50  76.37     A
  20        8.00     19.37           0    28.00  20.65  76.02     A
  21        8.00     19.37           0    35.00  12.95  75.32     B
  22        8.00     16.87           0    35.00  15.05  74.92     B
  23        8.00     19.37           0    29.75  17.50  74.62     B
  24        8.00     19.37           0    28.00  18.90  74.27     B
  25        7.73     19.37           2    35.00  10.15  74.25     B
  26        8.00     16.87           0    30.45  18.90  74.22     B
  27        8.00     19.37           2    22.75  22.05  74.17     B
  28        7.73     19.37           0    35.00  11.90  74.00     B
  29        8.00     16.25           0    26.25  22.40  72.90     B
  30        8.00     16.87           0    28.00  19.95  72.82     B
  31        8.00     15.00           0    28.87  19.95  71.82     B
  32        7.73     20.00           0    30.62  12.60  70.95     B
  33        8.00     19.37           0    23.45  19.95  70.77     B
  34        8.00     20.00           2    26.25  14.35  70.60     B
  35        8.00     18.12           0    28.00  16.10  70.22     B
  36        8.00     20.00           0    28.00  14.00  70.00     B
  37        8.00     16.87           0    24.50  20.30  69.67     B
  38        7.73     20.00           0    25.37  16.45  69.55     B
  39        8.00     13.75           0    33.25  14.35  69.35     B
  40        8.00     20.00           2    24.50  14.70  69.20     B
  41        7.46     19.37           0    24.50  17.85  69.18     C
  42        8.00     19.37           0    22.75  18.55  68.67     C
  43        7.73     19.37           0    22.57  18.90  68.57     C
  44        8.00     17.50           0    29.75  13.30  68.55     C
  45        8.00     19.37           0    30.62  10.15  68.14     C
  46        8.00     19.37           0    24.50  15.75  67.62     C
  47        8.00     20.00           0    29.75   9.80  67.55     C
  48        8.00     16.87           0    19.25  21.35  65.47     C
  49        7.73     16.87           0    27.82  12.25  64.67     C
  50        8.00     19.37           0    25.37  11.90  64.64     C
  51        7.46     18.75           0    33.25   4.55  64.01     C
  52        7.73     17.50           2    22.75  14.00  63.98     C
  53        7.73     15.62           0    21.00  19.25  63.60     C
  54        8.00     19.37           0    24.50  11.20  63.07     C
  55        7.20     17.50           0    18.37  19.60  62.67     C
  56        7.73     20.00           0    19.25  14.70  61.68     C
  57        7.46     16.87           0    26.25  10.85  61.43     C
  58        8.00     20.00           0    28.87   4.55  61.42     C
  59        7.46     17.50           0    23.80  12.60  61.36     C
  60        8.00     19.37           0    26.25   7.70  61.32     C
  61        7.73     19.37           0    21.00  12.25  60.35     D
  62        8.00     19.37           0    21.00  11.90  60.27     D
  63        7.73     19.37           0    21.17  11.90  60.17     D
  64        7.73     20.00           0    24.50   7.35  59.58     D
  65        8.00     16.87           0    21.70  12.25  58.82     D
  66        7.73     19.37           2    21.87   7.35  58.32     D
  67        7.46     19.37           0    15.75  14.35  56.93     D
  68        7.46     19.37           0    17.50  11.20  55.53     D
  69        8.00     19.37           2    14.87  11.20  55.44     D
  70        7.73     16.87           0    21.00   9.80  55.40     D
  71        8.00     16.87           0    15.75  13.30  53.92     D
  72        7.73     19.37           0    19.25   7.35  53.70     D
  73        7.73     19.37           0    24.50   1.05  52.65     D
  74        8.00     19.37           2    22.75   0.00  52.12     D
  75        8.00     16.25           0    24.50   2.80  51.55     D
  76        8.00     19.37           0    12.25  11.90  51.52     D
  77        7.73     15.62           0    16.62   8.05  48.02     D
  78        8.00     15.00           0    15.05   9.45  47.50     D
  79        7.73     16.87           0    11.90  10.50  47.00     D
  80        6.66     16.87           0    22.05   1.40  46.98     D
  81        7.73     18.12           0    10.50  10.15  46.50     F
  82        7.73     20.00           0    12.95   5.25  45.93     F
  83        7.73     19.37           0    13.12   5.60  45.82     F
  84        7.73     18.75           0    17.50   1.05  45.03     F
  85        8.00     19.37           0    14.00   2.45  43.82     F
  86        8.00     18.75           0     6.12  10.15  43.02     F
  87        8.00     19.37           0    11.37   2.10  40.84     F
  88        8.00     20.00           0     9.62   2.80  40.42     F
  89        8.00     19.37           0     6.12   4.55  38.04     F
  90        7.73     18.75           0     3.50   0.00  29.98     F
  91        7.20      0.00           0     3.50   1.05  11.75     F
  92        5.60      5.00           0     0.00   0.00  10.60     F

In [49]:
import pymysql

conn = pymysql.connect(host = 'localhost',user = 'root',password = 'taeyoon!', db = 'datascienceassignment2')

curs = conn.cursor()

sql= "CREATE TABLE db (sno int, attendance float, homework float, discussion int, midterm float, final float, score float,grade VARCHAR(1)) "
curs.execute(sql)

conn.close()

()

In [4]:
import pandas as pd
import pymysql

#DB와 연결
conn = pymysql.connect(host = 'localhost',user = 'root',password = 'taeyoon!', db = 'datascienceassignment2')

curs = conn.cursor()

#엑셀 파일 불러오기
file = "C:\\2020\\데이터사이언스개론\\과제 #2(Python 과제)\db_score.xlsx"
df = pd.read_excel(file)


#sql에 입력
sql= "INSERT INTO db_score (sno,attendance,homework,discussion,midterm,final,score,grade) VALUES (%d, %d, %d, %d, %d, %d, %d, %s)"
data = [tuple(x) for x in df.values]

                                         
curs.execute(sql)
conn.commit()



conn.close()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '%d, %d, %d, %d, %d, %d, %d, %s)' at line 1")

In [48]:
import pandas as pd
import pymysql

import sqlalchemy
from sqlalchemy import create_engine

#install_as_MySQLdb() 함수를 통해 MySQLdb와 호환 가능
pymysql.install_as_MySQLdb()
import MySQLdb


engine = create_engine("mysql+mysqldb://root:taeyoon!@localhost:3306/datascienceassignment2")#root:password@localhost/db_name

#DB와 연결
conn = pymysql.connect(host = 'localhost',user = 'root',password = 'taeyoon!', db = 'datascienceassignment2')
curs = conn.cursor()

#엑셀 파일 불러오기
file = "C:\\2020\\데이터사이언스개론\\과제 #2(Python 과제)\db_score.xlsx"
columns = ['sno','attendance','homework','discussion','midterm','final','score','grade']
df = pd.read_excel(file, columns=columns)

#mysql에 값 저장하기
df.to_sql(name='db_score', con =engine  ,if_exists='append', index=False)

conn.commit()
conn.close()

C:\Users\yoon2\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xB4\\xEB\\xC7\\xD1\\xB9\\xCE...' for column 'VARIABLE_VALUE' at row 1")
  result = self._query(query)

((1,), (15,))

In [51]:
import pandas as pd
import pymysql

import sqlalchemy
from sqlalchemy import create_engine

#install_as_MySQLdb() 함수를 통해 MySQLdb와 호환 가능
pymysql.install_as_MySQLdb()
import MySQLdb

engine = create_engine("mysql+mysqldb://root:taeyoon!@localhost:3306/datascienceassignment2")#root:password@localhost/db_name

#엑셀 파일 불러오기
file = "C:\\2020\\데이터사이언스개론\\과제 #2(Python 과제)\db_score.xlsx"
columns = ['sno','attendance','homework','discussion','midterm','final','score','grade']
df = pd.read_excel(file, columns=columns)

#mysql에 값 저장하기
df.to_sql(name='db_score', con =engine  ,if_exists='append', index=False)

In [53]:
import pymysql

conn = pymysql.connect(host = 'localhost',user = 'root',password = 'taeyoon!', db = 'datascienceassignment2')

curs = conn.cursor()

sql= "select sno, midterm, final from db_score where midterm>=20 and final>=20 "
curs.execute(sql)

row=curs.fetchone()
while row:
    print(row)
    row=curs.fetchone()

conn.close()

(1, 35.0, 30.1)
(2, 34.12, 30.1)
(3, 34.3, 29.75)
(4, 31.5, 29.05)
(5, 33.25, 21.35)
(6, 24.5, 32.2)
(7, 23.8, 28.7)
(8, 28.87, 25.9)
(9, 29.75, 21.7)
(11, 29.57, 21.35)
(12, 31.5, 20.65)
(13, 29.75, 21.0)
(15, 28.0, 23.1)
(16, 24.5, 24.85)
(19, 24.5, 24.5)
(20, 28.0, 20.65)
(27, 22.75, 22.05)
(29, 26.25, 22.4)
(37, 24.5, 20.3)